@model IEnumerable<Role>

@{
    ViewData["Title"] = "Rol Listesi";
}

<h2 class="my-4">Rol Listesi</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Numara</th>
            <th>Adı</th>
            <th>İşemler</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var rol in Model)
        {
            <tr>
                <td>@rol.Id</td>
                <td>@rol.Name</td>

                <td>
                    <a href="/Role/UpdateRole?id=@rol.Id" class="btn btn-primary">Güncelle</a>
                    <a href="/Role/DeleteRole?id=@rol.Id" class="btn btn-primary">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>