@model IEnumerable<Branch>

@{
    ViewData["Title"] = "Branş Listesi";
}

<h2 class="my-4">Branş Listesi</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Numara</th>
            <th>Adı</th>
            <th>İşlemler</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var branch in Model)
        {
            <tr>
                <td>@branch.Id</td>
                <td>@branch.Name</td>

                <td>
                    <a href="/Branch/UpdateBranch?id=@branch.Id" class="btn btn-primary">Güncelle</a>
                    <a href="/Branch/DeleteBranch?id=@branch.Id" class="btn btn-primary">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>